<!DOCTYPE html>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>KNAM</title>
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/Knam.js"></script> 
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/jquery.fullPage.css" />
<link href="css/owl.carousel.css" type="text/css" rel="stylesheet">
<link href="css/owl.theme.default.min.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!--[if !IE]><!-->
	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>secondPage
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
<div class="se-pre-con"></div>
<header>
  <div class="container">
    <div class="insheader">
      <div class="logobox"> <a href="#firstPage"> <img src="images/logo.png" alt="Logo" > </a> </div>
      <div class="menutoggle"> <span></span> <span></span> <span></span> </div>
      <div class="menubox">
        <div class="closemenutoggle"><span>X</span></div>
        <div class="verticalCenter">
          <div class="verticalInner">  
<ul class="desktop">
              <li><a href="#secondPage">ABOUT US<span>where it all begin</span></a></li>
                <li class="tabs"><a href="#thirdPage" >WASTE PAPER<span>what we deliver you</span></a></li>
              <li class="tabs"><a href="#forthPage" >FINISHED PAPER<span>what we deliver you</span></a></li>
            
              <li class="tabs"><a href="#fifthPage">E-waste<span>what we deliver you</span></a></li>

              <li><a href="#lastPage">CONTACT US<span>the way you reach</span></a></li>
            </ul>           
                
             <div class="mobilemenu">       
			<ul>
              <li><a href="#section1">ABOUT US<span>where it all begin</span></a></li>
              <li class="tabs"><a href="#section3" >WASTE PAPER<span>what we deliver you</span></a></li>
              <li class="tabs"><a href="#section4" >FINISHED PAPER<span>what we deliver you</span></a></li>
              <li class="tabs"><a href="#section5">E-waste<span>what we deliver you</span></a></li>
              <li><a href="#section6">CONTACT US<span>the way you reach</span></a></li>
            </ul>    
            </div>        
          </div>
        </div>
      </div>
      <!--<div class="loginbx"><img src="images/person-image.png" alt=""></div>-->
    </div>
  </div>
</header>
<div class="enquirybx"> <a href="#lastPage" class="mobileHide"><span>
  <div class="envelopebx"><img src="images/envelope.png" alt="" class="envelope"><img src="images/letter.png" alt="" class="letter"></div>
  <label>Enquire<br/>
    Now</label>
  </span> </a>
<a href="#sec-22" class="mobileShow"><span>
  <div class="envelopebx"><img src="images/envelope.png" alt="" class="envelope"><img src="images/letter.png" alt="" class="letter"></div>
  <label>Enquire<br/>
    Now</label>
  </span> </a>

</div>

<div id="fullpage">
  <div class="section active" id="section0" style="background-image:url(images/product-banner.jpg)"; >
    <div class="processbox"> <img src="images/process_image.png" alt="" class="process_imgbx">
      <div class="fan1" >
        <div class="fan_image2"  ><img src="images/cycle/fan-animation.gif" alt=""></div>
      </div>
      <div class="fan2"> <img src="images/cycle/fan2.png" alt=""> </div>
      <div class="top_house1"> <img src="images/cycle/top-icon1.png" alt=""> </div>
      <div class="house2"> <img src="images/cycle/house-icon.png" alt=""> </div>
      <div class="icon2"> <img src="images/cycle/icon2.png" alt=""> </div>
      <div class="icon1"> <img src="images/cycle/icon1.png" alt=""> </div>
      <div class="house1"> <img src="images/cycle/house-image1.png" alt=""> </div>
      <div class="window1"> <img src="images/cycle/window1.png" alt=""> </div>
      <div class="window2"> <img src="images/cycle/big-window.png" alt=""> </div>
    </div>
    <div class="contentbox">
      <h1 id="typed1">Setting benchmarks through strategic expertise</h1>
      <p>KNAM has been providing high quality services to customers for over 9 years, and deal in waste, recycled paper and finished paper</p>
      <a href="#thirdPage">discover more</a> </div>
    <div class="scrolldown "> <a href="#secondPage">
      <label><span></span></label>
      </a> </div>
  </div>
  
  <div class="section" id="section1" style="background-image:url(images/banner1.jpg)"; >
    <div class="fullbanner"><img src="images/building.png" alt="" class="" ></div>
    <div class="cloud1"> <img src="images/cloud1.png" alt=""> </div>
    <div class="cloud2"> <img src="images/cloud2.png" alt=""> </div>
    
    <!--	<div class="tree_image">
				<div class="treebox hatch" >					
						<img src="images/treeimages/branches.png" alt="" class="treebranchbox" >
						<div class="leaf1 "><img src="images/treeimages/back-leaf.png" alt="" class="" ></div>
						<div class="leaf2 "><img src="images/treeimages/center-leaf.png" alt="" class="" ></div>
						<div class="leaf3 "><img src="images/treeimages/front-leaf.png" alt="" class="" ></div> 					
					<img src="images/treeshadow.png" alt="" class="treeshadowimage" >
				</div>		
				<div class="bltreeimage">
					<img src="images/bltree.png" alt="">
				</div> 
				<div class="blwoodimage blwoodimage1">
					<div class="woodimage1 woodimage11"><img src="images/wood-image1.png" alt=""></div>
					<div class="woodimage1 woodimage12"><img src="images/wood-image1.png" alt=""></div>
					<div class="woodimage1 woodimage13"><img src="images/wood-image1.png" alt=""></div>
					<div class="woodimage1 woodimage14"><img src="images/wood-image1.png" alt=""></div>
					<div class="woodimage1 woodimage141"><img src="images/wood-image1.png" alt=""></div>
					<div class="woodimage1 woodimage15"><img src="images/wood-image2.png" alt=""></div>
					<div class="woodimage1 woodimage16"><img src="images/wood-image2.png" alt=""></div>
					<div class="woodimage1 woodimage17"><img src="images/wood-image2.png" alt=""></div>
					<div class="woodimage1 woodimage171"><img src="images/wood-image2.png" alt=""></div>
					<div class="woodimage1 woodimage19"><img src="images/wood-image2.png" alt=""></div>
					<div class="woodimage1 woodimage181"><img src="images/wood-image2.png" alt=""></div>
					<div class="woodimage1 woodimage18"><img src="images/wood-image2.png" alt=""></div>
				</div> 
			</div>
			<div class="tree_image tree_image1">
				<div class="treebox hatch" >					
						<img src="images/treeimages/branches.png" alt="" class="treebranchbox" >
						<div class="leaf1 "><img src="images/treeimages/back-leaf.png" alt="" class="" ></div>
						<div class="leaf2 "><img src="images/treeimages/center-leaf.png" alt="" class="" ></div>
						<div class="leaf3 "><img src="images/treeimages/front-leaf.png" alt="" class="" ></div> 					
					<img src="images/treeshadow.png" alt="" class="treeshadowimage" >
				</div>		
				<div class="bltreeimage">
					<img src="images/bltree.png" alt="">
				</div> 
				
			</div>-->
    
   

   
   <div class="aboutus_img"> <img src="images/aboutus_img.png" alt=""> </div>
    <div class="aboutcontentbox">
      <h3 id="typed1">About Us</h3>
      <p> <img src="images/about-image.png" alt="" class="alignleft"> We at Knam Marketing Pvt Ltd. believe in long lasting commitments and provide the best recyclables from all over the world to our customers. Owing to our client centric approach and transparent business policies we have been able to garner huge clientele worldwide within no time. To meet the new challenges in our industry, we keep ourselves updated at all times.</p>
      <p>Our diligent team of experts makes sure that import procedures are carried out without any delay. Each and every product of ours have gained acceptance worldwide due to its unsurpassed quality and on time delivery. We always make sure that we offer cost effective goods and take full responsibility of its logistics as well as transportation.</p>
      <p>Knam Marketing is a brainchild of Mr. Amit Goel, who himself has years of experience under his belt in our sphere of operation. Under his proficient guidance we have been able to attain new heights and cover this road of success. His sharp business sense and desire to reach the top are the two major pillars behind our steady growth.</p>
    </div>
     <div class="aboutus_img_mob"> <img src="images/aboutus_img.png" alt=""> </div>
    
    <div class="mountain_image"> <img src="images/desert_image.png" alt=""> </div>
    <div class="scrolldown "> <a href="#thirdPage">
      <label><span></span></label>
      </a> </div>
  </div>
  
  
  <div class="section" id="section3" style="background-image:url(images/banner1.jpg)"; >
    <div class="fullbanner"><img src="images/building.png" alt="" class="" ></div>
    <div class="aboutus_img"> <img src="images/waste_img.png" alt=""> </div>
    <div class="aboutcontentbox">
      <h3 id="typed1">Waste Paper </h3>
      <p>We at Knam Marketing Pvt Ltd. believe in long lasting commitments and provide the best recyclables from all over the world to our customers. Owing to our client centric approach and transparent business policies we have been able to garner huge clientele worldwide within no time. To meet the new challenges in our industry, we keep ourselves updated at all times.</p>
      <p>Our diligent team of experts makes sure that import procedures are carried out without any delay. Each and every product of ours have gained acceptance worldwide due to its unsurpassed quality and on time delivery. We always make sure that we offer cost effective goods and take full responsibility of its logistics as well as transportation.</p>
      <p>Knam Marketing is a brainchild of Mr. Amit Goel, who himself has years of experience under his belt in our sphere of operation. Under his proficient guidance we have been able to attain new heights and cover this road of success. His sharp business sense and desire to reach the top are the two major pillars behind our steady growth.</p>
    </div>
    
     <div class="aboutus_img_mob"> <img src="images/waste_img.png" alt=""> </div>
    
    <div class="mountain_image"> <img src="images/desert_image.png" alt=""> </div>
    <div class="scrolldown "> <a href="#fifthPage">
      <label><span></span></label>
      </a> </div>
  </div>
  <div class="section" id="section4" style="background-image:url(images/banner1.jpg)"; >
    <div class="fullbanner"><img src="images/building.png" alt="" class="" ></div>
    <div class="fin_paper_img"> <img src="images/finished_paper.png" alt=""> </div>
    <div class="aboutcontentbox">
      <h3 id="typed1">Finished Paper </h3>
      <p> Even though there has been a continued focus on digitization, India’s demand for paper is expected to rise by 53 percent by 2020.</p>
      <p>Paper is used across a number of workplaces and industries, and this is why the demand for paper and paper products is always higher than the supply. Therefore, there is a recurring need for delivering quality finished paper to meet these growing demands. </p>
      <p>Paper is a natural and renewable product, and is 100% recyclable, which ensures the capability of satisfying future requirements through sustainable measures. </p>
      <p>At KNAM, we supply fine and finished paper, both in reels and sheets, to different industries as per their requirement and budget. </p>
    </div>
     <div class="fin_paper_img_mob"> <img src="images/finished_paper.png" alt=""> </div>
    
    <div class="mountain_image"> <img src="images/desert_image.png" alt=""> </div>
    
    <!--<div class="dustbinbox">
				<img src="images/dustbin-image.png" alt="" class="maindustbin" >
				<div class="dust_shadowbx"><img src="images/basket-shadow.png" alt=""></div>
				<div class="wastepaperbx1">
					<img src="images/waste-image.png" alt="">
				</div>
				<div class="wastepaperbx2">
					<img src="images/waste-image.png" alt="">
				</div>
			</div>-->
    
    <div class="scrolldown "> <a href="#forthPage">
      <label><span></span></label>
      </a> </div>
  </div>
  <div class="section" id="section5" style="background-image:url(images/banner1.jpg)"; >
    <div class="fullbanner"><img src="images/building.png" alt="" class="" ></div>
    <div class="aboutus_img"> <img src="images/e-waste_img.png" alt=""> </div>
    <div class="aboutcontentbox">
      <h3 id="typed1">E-Waste</h3>
      <p>Electronic waste or e-waste is a term coined for electronic products that have become obsolete or non-working, and have been discarded. E-waste includes rejected computer systems, motherboards, mobile phones and its accessories, compact discs, (LCD)/ Plasma televisions, air conditioners, etc. </p>
      <p>India is among the top five countries in e-waste production, according to ASSOCHAM-NEC study (source).  When e-waste gets accumulated in landfills, toxic substances like lead, mercury and cadmium leak into the soil and water. This in turn pollutes the soil, underground water and ecosystems.Electronic waste or e-waste is a term coined for electronic products that have become obsolete or non-working, and have been discarded. E-waste includes rejected computer systems, motherboards, mobile phones and its accessories, compact discs, (LCD)/ Plasma televisions, air conditioners, etc. </p>
      <p>India is among the top five countries in e-waste production, according to ASSOCHAM-NEC study (source).  When e-waste gets accumulated in landfills, toxic substances like lead, mercury and cadmium leak into the soil and water. This in turn pollutes the soil, underground water and ecosystems. </p>
    </div>
      <div class="aboutus_img_mob"> <img src="images/e-waste_img.png" alt=""> </div>
    
    <div class="mountain_image"> <img src="images/desert_image.png" alt=""> </div>
    <div class="scrolldown "> <a href="#sixthPage">
      <label><span></span></label>
      </a> </div>
  </div>
  <!--<div class="section" id="section77" style="background-image:url(images/banner1.jpg)"; >
    <div class="fullbanner"><img src="images/building.png" alt="" class="" ></div>
    <div class="investment_img"> <img src="images/investment_img.png" alt=""> </div>
    <div class="aboutcontentbox">
      <h3 id="typed1">Investments</h3>
      <p>We at Knam Marketing Pvt Ltd. believe in long lasting commitments and provide the best recyclables from all over the world to our customers. Owing to our client centric approach and transparent business policies we have been able to garner huge clientele worldwide within no time. To meet the new challenges in our industry, we keep ourselves updated at all times.</p>
      <p>Our diligent team of experts makes sure that import procedures are carried out without any delay. Each and every product of ours have gained acceptance worldwide due to its unsurpassed quality and on time delivery. We always make sure that we offer cost effective goods and take full responsibility of its logistics as well as transportation.</p>
      <p>Knam Marketing is a brainchild of Mr. Amit Goel, who himself has years of experience under his belt in our sphere of operation. Under his proficient guidance we have been able to attain new heights and cover this road of success. His sharp business sense and desire to reach the top are the two major pillars behind our steady growth.</p>
    </div>
    
    <div class="investment_img_mob"> <img src="images/investment_img.png" alt=""> </div>
    
    <div class="mountain_image"> <img src="images/desert_image.png" alt=""> </div>
    <div class="scrolldown "> <a href="#seventPage">
      <label><span></span></label>
      </a> </div>
  </div>-->
  <div class="section mob_section1" id="section5" style="background-image:url(images/banner2.jpg);" >
    <div class="maintradingbox">
      <div class="tradingbox">
        <div class="verticalCenter">
          <div class="verticalInner">
            <div class="innrtradingbox">
              <h2 id="typed1">We are pioneers in the trading and recycling domain, with a strong presence across the globe.</h2>
            </div>
          </div>
        </div>
      </div>
    <div class="mapbox">
				<img src="images/map-image.png" alt="">
				<div class="location1 acc_location"><img src="images/location-image.png" alt=""><span>America</span>
					<div class="inslocation_hover">						
						<ul>
							<li>Caribbean</li>
                            <li>Canada</li>
						</ul>
					</div>
				</div>
				<div class="location2 acc_location"><img src="images/location-image.png" alt=""><span>Central America</span>
					
				</div>
				<div class="location3 acc_location"><img src="images/location-image.png" alt=""><span>South America</span>
					
				</div>
				<div class="location4 acc_location"><img src="images/location-image.png" alt=""><span>Europe</span>
					<div class="inslocation_hover">						
						<ul>
							<li>France</li>
							<li>Germany</li>
							<li>Netherland</li>
							<li>Belgium</li>
							<li>Italy</li>
							<li>Malta</li>
							<li>Spain</li>
							<li>Scandinavia</li>
							<li>UK</li>
							<li>Ireland</li>
						</ul>
					</div>
				</div>
                
                <div class="location7 acc_location"><img src="images/location-image.png" alt=""><span>Asia</span>
					<div class="inslocation_hover">						
						<ul>
							<li>Singapore</li>
							<li>Malaysia</li>
                            <li>Dubai</li>
							
						</ul>
					</div>
				</div>
                
				<div class="location5 acc_location"><img src="images/location-image.png" alt=""><span>Africa</span>
					<div class="inslocation_hover">						
						<ul>
							<li>Morocco</li>
							<li>Abijo</li>
							<li>Algeria</li>
							<li>Uganda</li>
							<li>Congo</li>
							<li>Tunisia</li>
						</ul>
					</div>
				</div>
				<div class="location6 acc_location"><img src="images/location-image.png" alt=""><span>Australia</span>
					<div class="inslocation_hover">						
						<ul>
							<li>Australia</li>
							
						</ul>
					</div>
				</div>
			</div>
    </div>
    <div class="slide2_tree1"> <img src="images/slide2-tree1.png" alt=""> </div>
    <div class="slide2_tree2"> <img src="images/slide2-tree2.png" alt=""> </div>
    <div class="scrolldown "> <a href="#lastPage">
      <label><span></span></label>
      </a> </div>
  </div>
  <div class="section mob_section1" id="section6" style="background-image:url(images/banner2.jpg);" >
    <div class="maintradingbox">
      <div class="tradingbox">
        <div class="verticalCenter">
          <div class="verticalInner get_touch">
            <div class="innrtradingbox">
              <h2 id="typed1">Get in touch
                with us!</h2>
              <p>In case you have any queries or comments, please fill out the enquiry form to get in touch with our team.</p>
              <p>Alternatively, you can call us on +91 9999535318 or Email at mail@knam.in to discuss your requirements.</p>
              <div class="address">
                <h4>Address</h4>
                <p>Knam Marketing Pvt Ltd.<br/>
                  WP-30, Sector-71,<br/>
                  Noida (201301)<br/>
                  Uttar Pradesh <br/>
                  INDIA</p>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="mapbox form_box" id="sec-22" ng-app="KnamModule" ng-controller="WebEnquiry">
            <img src="images/map-image.png" alt="" />
            <div class="forms">
                <h3>Enquiry Form</h3>
                <ul>
                    <li>
                        <input type="text" value="" ng-change="ClearText('Name')" placeholder="Name" ng-model="webEnquiry.Name">
                        <span ng-show="SAName" class="errorMsg">{{SAMName}}</span>
                    </li>
                    <li>
                        <input type="text" value="" ng-change="ClearText('Email')" placeholder="Email" ng-model="webEnquiry.Email">
                        <span ng-show="SAEmail" class="errorMsg">{{SAMEmail}}</span>
                    </li>
                    <li>
                        <input type="text" value="" ng-change="ClearText('Phone')" placeholder="Phone No." ng-model="webEnquiry.Phone">
                        <span ng-show="SAPhone" class="errorMsg">{{SAMPhone}}</span>
                    </li>
                    <li>
                        <input type="text" value="" ng-change="ClearText('ContactAddress')" placeholder="Address" ng-model="webEnquiry.ContactAddress">
                        <span ng-show="SAContactAddress" class="errorMsg">{{SAMContactAddress}}</span>
                    </li>
                    <li>
                        <textarea placeholder="Message" ng-change="ClearText('Query')" ng-model="webEnquiry.Query"></textarea>
                        <span ng-show="SAQuery" class="errorMsg">{{SAMQuery}}</span>
                    </li>
                    <li class="submitclass">
                        <input type="submit" value="submit" ng-click="SaveWebEnquiry();">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="slide2_tree1"> <img src="images/slide2-tree1.png" alt=""> </div>
    <div class="slide2_tree2"> <img src="images/slide2-tree2.png" alt=""> </div>
    <div class="scrolldown "> <a href="#firstPage">
      <label><span></span></label>
      </a> </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="insfooter">
      <div class="leftfoot">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="#secondPage">About us</a></li>
          <!--<li><a href="">Services</a></li>
          <li><a href="">Helpful Information</a></li>-->
          <li><a href="#seventPage">Our Presence</a></li>  
          <!--<li><a href="#sixthPage">Investments</a></li>-->
          <!--<li><a href="">Site Map</a></li>-->
          <li><a href="#lastPage">Contact Us</a></li>
        </ul>
      </div>
      
      
       <div class="leftfoot_mob">
        <ul>
          <li><a href="#section0">Home</a></li>
          <li><a href="#section1">About us</a></li>
          <!--<li><a href="">Services</a></li>
          <li><a href="">Helpful Information</a></li>-->
            <li><a href="#seventPage">Our Presence</a></li> 
          <!--<li><a href="#section77">Investments</a></li>-->
          <!--<li><a href="">Site Map</a></li>-->
          <li><a href="#sec-22">Contact Us</a></li>
        </ul>
      </div>
      
      <div class="rightfoot">
        <p>&copy; 2018 Knam Marketing Pvt. Ltd.</p>
      </div>
      <div class="centerfoot">
        <!--<ul>
          <li><span>Follow us On:</span></li>
          <li><a href=""><img src="images/facebook.png" alt=""></a></li>
          <li><a href=""><img src="images/twitter.png" alt=""></a></li>
          <li><a href=""><img src="images/google-plus.png" alt=""></a></li>
          <li><a href=""><img src="images/instagram.png" alt=""></a></li>
        </ul>-->
      </div>
    </div>
  </div>
</footer>
<div class="popupbox">
  <div class="inspopupbox">
    <div class="closebtnbx1"><img src="images/closebtn.png" alt=""></div>
    <div class="insloginbox">
      <h4>Login</h4>
      <form>
        <div class="loginptbox">
          <input type="email" placeholder="Enter Email Address" required>
        </div>
        <div class="loginptbox">
          <input type="password" placeholder="Enter Password" required>
        </div>
        <div class="logsbmtbox">
          <input type="submit" value="Submit">
        </div>
      </form>
      <ul class="forgetbox">
        <li><a href="">Forgot Password?</a></li>
        <li><a href="javascript:void(0);" id="memberbox">Not a Member?</a></li>
      </ul>
      <h5>Or</h5>
      <ul class="forgetbox forgetbox1">
        <li><a href=""><img src="images/facebook-image.png" alt=""></a></li>
        <li><a href=""><img src="images/google-image.png" alt=""></a></li>
      </ul>
    </div>
    <div class="insregistration">
      <h4>Registration</h4>
      <form>
        <div class="loginptbox">
          <input type="text" placeholder="Your Name" required>
        </div>
        <div class="loginptbox">
          <input type="tel" placeholder="Mobile Number" required>
        </div>
        <div class="loginptbox">
          <input type="email" placeholder="Email Address" required>
        </div>
        <div class="loginptbox">
          <input type="password" placeholder="Password" required>
        </div>
        <div class="loginptbox">
          <input type="password" placeholder="Confirm Password" required>
        </div>
        <div class="logsbmtbox">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>
<div class="popupbox1">
  <div class="inspopupbox1">
    <div class="closebtnbx"><img src="images/closebtn.png" alt=""></div>
    <div class="owl-carousel slider">
      <div class="item">
        <div class="ins_yearbox">
          <h5>2016</h5>
          <ul>
            <li><a href="http://www.google.com" target="_blank">Jan</a></li>
            <li><a href="http://www.google.com" target="_blank">Feb</a></li>
            <li><a href="http://www.google.com" target="_blank">Mar</a></li>
            <li><a href="http://www.google.com" target="_blank">Apr</a></li>
            <li><a href="http://www.google.com" target="_blank">May</a></li>
            <li><a href="http://www.google.com" target="_blank">Jun</a></li>
            <li><a href="http://www.google.com" target="_blank">July</a></li>
            <li><a href="http://www.google.com" target="_blank">Aug</a></li>
            <li><a href="http://www.google.com" target="_blank">Sep</a></li>
            <li><a href="http://www.google.com" target="_blank">Oct</a></li>
            <li><a href="http://www.google.com" target="_blank">Nov</a></li>
            <li><a href="http://www.google.com" target="_blank">Dec</a></li>
          </ul>
        </div>
      </div>
      <div class="item">
        <div class="ins_yearbox">
          <h5>2017</h5>
          <ul>
            <li><a href="http://www.google.com" target="_blank">Jan</a></li>
            <li><a href="http://www.google.com" target="_blank">Feb</a></li>
            <li><a href="http://www.google.com" target="_blank">Mar</a></li>
            <li><a href="http://www.google.com" target="_blank">Apr</a></li>
            <li><a href="http://www.google.com" target="_blank">May</a></li>
            <li><a href="http://www.google.com" target="_blank">Jun</a></li>
            <li><a href="http://www.google.com" target="_blank">July</a></li>
            <li><a href="http://www.google.com" target="_blank">Aug</a></li>
            <li><a href="http://www.google.com" target="_blank">Sep</a></li>
            <li><a href="http://www.google.com" target="_blank">Oct</a></li>
            <li><a href="http://www.google.com" target="_blank">Nov</a></li>
            <li><a href="http://www.google.com" target="_blank">Dec</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script> 
<script type="text/javascript" src="js/owl.carousel.js"></script> 
<script type="text/javascript" src="js/jquery.fullPage.js"></script> 
<script type="text/javascript" src="js/custom.js"></script> 
<script >
$(document).ready(function(){
	$('.acc_location span').click(function(){
		$(this).parents('.acc_location').toggleClass('active');
		$(this).parents('.acc_location').siblings().removeClass('active');
	})
});
setTimeout(	function(){
	$('.wastepaperbx1').addClass('active');
	$('.wastepaperbx2').addClass('active');	
	
}, 800);

setTimeout(	function(){	
	$('.dust_shadowbx').addClass('active');	
}, 1000);
</script>
</body>
</html>